body { 
	font-family: Arial, 
	sans-serif; 
	background: #f9f9f9; 
	padding: 20px;
}

.container { 
	max-width: 700px; 
	margin: auto; 
	margin-top:20px;
	margin-bottom:20px; 
	background: white; 
	padding: 20px; 
	border-radius: 8px; 
	box-shadow: 0 0 10px #ccc; 
}
	
h1 { 
	text-align: center; 
	color: #333; 
}
	
.question { 
	margin-bottom: 20px;
}

.question p { 
	font-weight: bold; 
}

label { 
	margin-right: 20px; 
}

button { 
	background: #28a745; 
	color: white; 
	border: none; 
	padding: 12px 25px; 
	border-radius: 5px; 
	cursor: pointer; 
	font-size: 16px; 
}
button:hover { 
	background: #218838;
}

.error { 
	color: red;
	margin-bottom: 15px;
	font-weight: bold;
}  