body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	color: #333;
	margin: 0;
	padding: 0;
}

.main {
	max-width: 960px;
	margin: auto;
}

a {
	transition: 0.3s;
}

a:hover {
	color: #0056b3;
}
